/* 
    General Styles
*/

body {
  background-image: url(https://wallpaperaccess.com/full/5673918.jpg);
  background-position: center;
  background-size: cover;
  color: rgb(42, 38, 38);
}

.container {
  text-align: center;
}

img {
  width: 120px;
}

.card {
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  /* background-image: url(https://m.media-amazon.com/images/I/71q-vP7YupL.jpg);
  background-position: center;
  background-size: cover; */
}

footer {
  position: absolute;
  bottom: 0;
  left: 25%;
  color: #ffffff;
  font-size: 2.2rem;
}
a {
  text-decoration: none;
  font-size: 3rem;
  color: #fff;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
  color: #485f4a;
}
